{% if col is not defined %}
    {% set col = 'col-20' %}
{% endif %}
<div class="row">
    {% for entity in entities %}

        <div class="{{ col }} my-3">
            <div class="myCard">
                <a href="{{ path('game_show', {'_locale': 'en', 'slug': entity.slug}) }}" class="clickable text-center text-decoration-none">
                    <img src="{{ entity.thumbnailCover }}" alt="{{ entity.name }}" class="h-100">
                    <div class="shadows">
                        <div class="price">{{ entity.price }} {{ 'homepage.price'|trans}} </div>
                    </div>
                </a>
                <div class="gameTitle">
                    {{ entity.name }}
                </div>
            </div>
        </div>

    {% endfor %}
</div>



