<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="/">Instant Gaming</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">{{ 'navbar.home'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('game_index') }}">{{ 'navbar.game'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('comment_index') }}">{{ 'navbar.comments'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_index') }}">{{ 'navbar.account'|trans }}</a>
                </li>
            </ul>
            <ul class="navbar-nav">
{#                {{ dump(set route_parameters = app.request.attributes.get('_route_params')) }}#}
                <li class="nav-item me-2">
                    {% set newParams = [] %}
                    {% for key, param in app.request.attributes.get('_route_params') %}
{#                        {{ dump(key) }}#}
{#                        {{ dump(key) }}#}
                        {% if key == '_locale' %}
                            {% set newParams = newParams|merge({'_locale': 'en'}) %}
                        {% else %}
                            {{ dump(key) }}
                            {% set newParams = newParams|merge({'id': param}) %}
                        {% endif %}
                    {% endfor %}


                    <a href="{{ path(app.request.attributes.get('_route'),
                        newParams )
                    }}">
                    <img class="flag" src="{{ asset('build/uk.png') }}" alt="en">
                    </a>
                </li>
                <li class="nav-item me-2">
                    {% set newParams = [] %}
                    {% for key, param in app.request.attributes.get('_route_params') %}
                        {#                        {{ dump(key) }}#}
                        {% if key == '_locale' %}
                            {% set newParams = newParams|merge({'_locale': 'fr'}) %}
                            {#                            {% set newParams[key] = 'en' %}#}
                        {% else %}
                            {% set newParams = newParams|merge({'id': param}) %}
                            {#                            {% set newParams[key] = param %}#}
                        {% endif %}
                    {% endfor %}
                    <a href="{{ path(app.request.attributes.get('_route'),
                        newParams
                        )
                    }}">
                    <img class="flag" src="{{ asset('build/fr.png') }}" alt="fr">
                    </a>
                </li>
            </ul>
            <form class="d-flex">
                <input type="text" class="form-control" placeholder="{{ 'navbar.search'|trans }}" data-games-search>
{#                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#                <button class="btn btn-outline-success" type="submit">Search</button>#}
            </form>
        </div>
    </div>
</nav>